@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 10px 10px 6px rgb(55, 126, 248);
}

.secondary-button{
  background: grey;
  padding: 0.4rem 1rem;
  font-weight: 500;
  color: white;
  border-radius: .5rem;
}

.secondary-button:hover{
  background: rgb(111, 111, 111);
}